.container-1 {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow:10px 10px 5px grey; 
    border-radius: 10px
}

#cat-generator {
    margin: 10px;
}

.container-1 h3 {
    text-align: center;
    color: darkred;
    border-radius: 10px
}
.flex-box-container-1 {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    flex-wrap: wrap;
    
    justify-content: space-around;
    box-shadow:10px 10px 5px grey;
    border-radius: 10px
}

#flex-result-box {
    box-shadow: 5px 5px 2.5px grey;
    border-radius: 10px
}
.flex-box-container-1 div {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
    border-radius: 10px
}

.container-2 {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    box-shadow:10px 10px 5px grey;
    border-radius: 10px;
    justify-content: space-between;
}
.flex-box-container-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid green;
    justify-content: space-evenly;
}
.flex-box-container-2 img {
    margin: 10px;
    justify-content: space-around;
    box-shadow:10px 10px 5px grey;
    border-radius: 10px;
    display: flex;
    
}
